<footer class="footer fixed-bottom bg-light">
  <div class="container text-center my-2">
    <span>Copyright &copy; <%= 1900 + new Date().getYear() %> Switch_Titles_Database</span>
  </div>
</footer>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>