<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
<%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4 text-center">
      <h1>Welcome to Switch_Titles_Database</h1>
      <p>This application serves as an online reference for Nintendo Switch game titles. Explore the vast collection of games, their details, and stay updated with the latest additions.</p>
      <img src="/images/nintendoSwitchPro.png" alt="Nintendo Switch Pro" class="img-fluid">
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
</html>